* {
  font-family: 'Miriam Libre', monospace;
}

:not(.noanim>*) {
  animation-name: fadeIn;
  animation-duration: .3s;
  animation-timing-function: ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  margin: 0;
  background-color: white;
}

header, main {
  margin: 0 calc(10vw + 50px);
}

a {
  color: #00C853;
  transition: color .25s;
  -moz-transition: color .25s;
  -webkit-transition: color .25s;
}

a:hover {
  color: #000000;
}

button {
  border: 2px solid #00C853;
  height: 50px;
  border-radius: 25px;
  padding: 0 50px;
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  color: #00C853;
  margin: 12px 0;
  transition: all .25s;
  -moz-transition: all .25s;
  -webkit-transition: all .25s;
}

button:hover {
  background-color: #00E676;
  color: #FFFFFF;
  border-color: #00E676;
}

[type="radio"]:checked, [type="radio"]:not(:checked) {
  position: absolute;
  left: -999px;
}

[type="radio"]:checked+label, [type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}

[type="radio"]:checked+label:before, [type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked+label:after, [type="radio"]:not(:checked)+label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #00E676;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  transform: scale(1);
}

.stat {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 26px 0;
}

.chart {
  display: inline-block;
}

.smalltext {
  font-size: 0.8em;
}

.horizontal {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.answerchart {
  display: inline-block;
}
